* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 0 10px 10px rgb(0, 0, 0, 0.2);
}

.all {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255, 0.9);
  background: rgb(244, 246, 246);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url(images/kyle-gregory-devaras-QFjSiok61xA-unsplash.jpg)
    center/cover;
}
.container {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
  border: none;
  /* padding-top: 50px; */
  width: 70%;
  height: 70vh;
  text-align: center;
  border-radius: 15px;
  background: rgb(255, 225, 255, 0.1);
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 1;
}
.accout {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 40px;
  top: 20px;
  right: 20px;
  width: 170px;
}

.img-profile {
  width: 200px;
  height: 200px;
  border-radius: 99px;
}

h1 {
  top: 0;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}

h3 {
  font-size: 25px;
  margin-top: 20px;
}
.container__title{

}
.container__body {
    /* padding-top: 20px; */
    padding-bottom: 50px;
}
.btnGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.btnGroup__wrap{
    padding: 10px;
}
.btnGroup__item{
    color: aliceblue;
    list-style: none;
    text-decoration: none;
    line-height: 50px;
    text-align: center;
    height: 50px;
    padding: 10px 100px;
}

.cirle {
  overflow: hidden;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 10000px;
  background-color: rgb(244, 208, 63);
  background: linear-gradient(45deg, rgb(244, 208, 63), rgb(236, 112, 99));
}

.title-cat {
  font-size: 60px;
}

.c1 {
  top: 30px;
  left: 100px;
  box-shadow: 0px 0px 30px rgb(255, 255, 255, 0.8);
  animation: move-up-dow 7s infinite;
}

.c2 {
  width: 2400px;
  height: 2400px;
  top: 370px;
  right: -1000px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.8);
  animation: move-left-right 10s infinite;
}

.c3 {
  width: 100px;
  height: 100px;
  top: 30px;
  right: 500px;
  z-index: 0;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.8);
  animation: move-up-dow-x 5s infinite;
}

.wave-icon-1 {
  position: absolute;
  text-shadow: none;
  font-size: 500px;
  top: -90px;
  left: -50px;
  color: rgb(255, 255, 255, 0.4);
  animation: move-up-dow-x 10s infinite;
}

.wave-icon-2 {
  position: absolute;
  text-shadow: none;
  font-size: 2000px;
  top: -600px;
  left: -170px;
  color: rgb(255, 255, 255, 0.4);
}

.wave-icon-3 {
  position: absolute;
  text-shadow: none;
  font-size: 150px;
  color: rgb(255, 255, 255, 0.4);
}


.k{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    position: relative;
    /* padding: 10px; */
  }
  a.k:before, a.k:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
  }
  a.k:before{
    top: -2.5%;
    left: -1%;
    border-top: 2px solid antiquewhite;
    border-left: 2px solid antiquewhite; 
  }
  a.k:after{
    bottom: -2.5%;
    right: -1%;
    border-bottom: 2px solid antiquewhite;
    border-right: 2px solid antiquewhite;
  }
  a.k:hover:before, a.k:hover:after{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }

@keyframes move-up-dow {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, +100px);
  }
}

@keyframes move-up-dow-x {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, +50px);
  }
}

@keyframes move-left-right {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(+100px, 0);
  }
}

.letter {
  display: none;
  text-align: center;
}

.chin-name {
  display: none;
}

@keyframes move-left-right-x {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(+6px, 0);
  }
}
